    <footer>
      <p>Copyright © 2021 Rare Visions</p>
      <p><a target="_blank" href="https://icons8.com/icon/TRVlqhnsbYVO/splash">Splash</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
    </footer>
  </body>
</html>