<%- include("partials/header") -%>
<body>
<!-- Front Page -->
<!-- just have navbar link to different sections on the same page -->
<!-- liquid backgroudn animation on link hover: https://freefrontend.com/css-liquid-effects/ -->
<!-- liquid animation: https://codepen.io/supah/pen/QyWwNd -->
<div class="welcome-container">
<!-- background/image on the side: colorful lush projection, video if possible -->
<h1>Rare Visions</h1>
<h1>Handcrafted Liquid Light Projections</h1>
<div class="socials-container">
    <a href="https://www.instagram.com/rarevisionsmilwaukee/"><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-youtube"></i></a>
    <a href="https://www.facebook.com/rarevisionsmke"><i class="fab fa-facebook-f"></i></a>
</div>
<div class="contact-link-container">
    <a id="contact-link" class="contact-link" href="#contact">Contact Us</a>
    <div id="squish" class="wrapper">
        <div class="ball ball1"></div>
        <div class="ball ball2"></div>
        <div class="ball ball3"></div>
      </div>
      
      <svg>
        <defs>
          <filter id="filter">
            <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 28 -10" result="filter" />
            <feComposite in="SourceGraphic" in2="filter" operator="atop" />
          </filter>
        </defs>
      </svg>
</div>
</div>
<div class="about-container">
<h1>Our Services</h1>
<!-- background/image on the side: screengrab from Dahlapalooza, parallax scroll? -->
<p>Rare Visions provides an immersive light show rooted in analog liquid light
    projections from the 1960s and infused with
    modern visual aesthetics such as glitch art and video synthesis.  Projections are
    improvised live in response to music and the surrounding environment, producing a 
    unique and hypnotic psychedelic backdrop to concerts and events.
</p>
<img src='/images/dahlapalooza1.png' alt='Band performing with Rare Visions projection'>
</div>
<div class="video-container">
<h1>Videos</h1>
</div>
<div id="contact" class="contact-container">
<!-- background/image on the side: photo of glitchy liquids thru CRT tv -->
<h1>Let's Talk!</h1>
<h2>Book us for your next concert or event!</h2>
</div>
<!-- events section - if no events schedule livestreams? -->
<script src="/scripts/domscript.js"></script>
<%- include("partials/footer") -%>
    